*,
*::after,
*::before{
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
  font-family: roboto, trebuchet, arial, verdana;
  min-width: 1200px;
}

.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-cart-icon {
    width: 15px;
    height: 15px;
    background-position: -10px -10px;
}

.sprite-fb-icon {
    width: 12px;
    height: 22px;
    background-position: -10px -45px;
}

.sprite-insta-icon {
    width: 21px;
    height: 21px;
    background-position: -10px -87px;
}

.sprite-vk-icon {
    width: 26px;
    height: 15px;
    background-position: -10px -128px;
}

h1{
  font-size: 55px;
  line-height: 55px;
  color: #000;
  font-weight: 500;
  font-family: roboto, trebuchet, arial, verdana;
  margin: 0;
}

h2{
  font-size: 45px;
  line-height: 45px;
  color: #000;
  font-weight: 700;
  font-family: roboto, trebuchet, arial, verdana;
}

.container{
  outline: solid #cccccc;
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.logo{
  float: left;
  margin-right: 180px;
  width: 160px;
  outline: solid #cccccc;
}

.user-block{
  float: right;
  width: 141px;
  padding-top: 30px;
  outline: solid #cccccc;
}
.user-block a{
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  margin-left: 66px;
}

.main-navigation{
  float: left;
  width: 640px;
  padding-left: 20px;
  padding-top: 30px;
  outline: solid #cccccc;
}

.main-navigation a{
  display: block;
  color: #000;
  text-decoration: none;
}

.main-navigation li{
  float: left;
  margin-right: 30px;
  text-transform: uppercase;
  list-style: none;

}
.main-navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-top{
  margin-bottom: 85px;
  outline: solid #cccccc;
}

.sliders{
  float: left;
  margin-bottom: 80px;
}

.slider-name{
  font-size: 55px;
  color: #000;
  line-height: 55px;
}

.index-content-left{
  float: left;
  width: 515px;
  outline: solid #cccccc;
}

.index-content-right{
  float: right;
  outline: solid #cccccc;
  width: 760px;
}

.services{
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}
.web-sites{
  float: left;
  width: 300px;
  outline: solid #cccccc;
  margin-right: 100px;
}

.applications{
  float: left;
  width: 300px;
  outline: solid #cccccc;
  margin-right: 100px;
}

.presentations{
  float: right;
  width: 300px;
  outline: solid #cccccc;
  margin-right: 60px;
}

.advantages{
  padding-top: 80px;
  padding-bottom: 78px;
  border-bottom: 2px solid #eeeeee;
}

.advantages-left{
  float: left;
  width: 660px;
  outline: solid #cccccc;
}

.advantages-right{
  float: right;
  width: 360px;
  outline: solid #cccccc;
}

.item span{
font-size: 45px;
font-weight: bold;
}

.item sup{
  font-size: 25px;
}

.item{
  display: inline-block;
  width: 100px;
  margin-right: 10px;
}

.logos-list{
outline: solid #cccccc;
border-bottom: 2px solid #eeeeee;
margin-bottom: 80px;
}

.logos-item{
  float: left;
  width: 260px;
  margin-left: 40px;
}

.logos-item:last-child{
  float: right;
  margin-left: 0px;
  margin-right: 40px;
}

.wrap{
  outline: solid #cccccc;
  margin-bottom: 70px;
}

.footer-social{
  float: left;
  width: 380px;
  margin-right: 20px;
  outline: solid #cccccc;
}

.footer-features{
  float: right;
  width: 760px;
  outline: solid #cccccc;
}

.footer-features b{
  font-size: 36px;
  color: #000;
}

.filter{
  float: left;
  width: 260px;
  outline: solid #cccccc;
  margin-right: 100px;
}

.filter-price{
  margin-bottom: 56px;
}

.grid-group{
  margin-bottom: 44px;
}

.features-group{
  margin-bottom: 50px;
}

.filter span{
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 17px;
}

.sort-group{
  float: left;
  outline: solid #cccccc;
  margin-bottom: 60px;
  margin-left: 40px;
}

.sort-element{
  float: right;
  margin-left: 270px;
}

.sort-element a{
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  margin-left: 30px;
}

.templates{
  outline: solid #cccccc;
}

.templates-item{
  float: left;
  margin-left: 40px;
  width: 360px;
  margin-bottom: 36px;
}

.main-container{
  float: right;
  width: 800px;
  outline: solid #cccccc;
}

.title{
  margin-bottom: 157px;
  text-align: center;
  padding: 20px;
}

.pagination{
  float: left;
  padding-top: 24px;
  padding-bottom: 60px;
}

.pagination a{
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.filter-price span{
  text-transform: uppercase;
}

.grid-group span{
  text-transform: uppercase;
}

.features-group span{
  text-transform: uppercase;
}

.templates-inner a{
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}
