*,
*::after,
*::before{
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  font-family: roboto, trebuchet, arial, verdana;
  min-width: 1200px;
}

.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-cart-icon {
    width: 15px;
    height: 15px;
    background-position: -10px -10px;
}

.sprite-fb-icon {
    width: 12px;
    height: 22px;
    background-position: -10px -45px;
}

.sprite-insta-icon {
    width: 21px;
    height: 21px;
    background-position: -10px -87px;
}

.sprite-vk-icon {
    width: 26px;
    height: 15px;
    background-position: -10px -128px;
}

h1{
  font-size: 55px;
  line-height: 55px;
  color: #000;
  font-weight: 500;
  font-family: roboto, trebuchet, arial, verdana;
  margin: 0;
}

h2{
  font-size: 45px;
  line-height: 45px;
  color: #000;
  font-weight: 500;
  font-family: roboto, trebuchet, arial, verdana;
  margin-top: 0;
  margin-bottom: 33px;
}

.container{
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.logo{
  float: left;
  margin-right: 180px;
  width: 160px;
  height: 65px;
}

.logo img{
  display: block;
  width: 160px;
  height: 65px;
}

.user-block{
  float: right;
  max-width: 141px;
  padding-top: 30px;
  padding-bottom: 11px;
}
.user-block a{
  position: relative;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
  padding-left: 66px;
}

.login:hover{
  color: #fb565a;
}

.login::before{
  content: "";
  position: absolute;
  top: 2px;
  left: 25px;
  width: 15px;
  height: 15px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -10px -10px;
}

.main-navigation{
  float: left;
  width: 640px;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 11px;
}

.main-navigation a{
  display: block;
  color: #000;
  text-decoration: none;
}

.main-navigation a:hover{
  color: #fb565a;
}

.main-navigation li{
  float: left;
  margin-right: 48px;
  text-transform: uppercase;
  list-style: none;

}
.main-navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-top{
  margin-bottom: 56px;
}

.sliders{
  float: left;
  margin-bottom: 80px;
  background-color: #eeeeee
}

.slider-name{
  font-size: 55px;
  color: #000;
  line-height: 55px;
  font-weight: 500;
}

.index-content-left{
  float: left;
  width: 515px;
}

.index-content-right{
  float: right;
  width: 760px;
}

.services{
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.web-sites{
  float: left;
  width: 300px;
  margin-right: 100px;
}

.services h3{
  color: #000;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 21px;
}

.services p{
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn{
  display: inline-block;
  padding: 16px 40px;
  border-radius: 3px;
  vertical-align: top;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: roboto, trebuchet, arial, verdana;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fb565a;
  border: none;
  cursor: pointer;
}

.btn:hover{
  background-color: #e74246;
}

.btn:active{
  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1)
}

.btn:active span{
  opacity: .3;
}

.btn.green{
  background-color: #00ca74;
}

.btn.green:hover{
  background-color: #00bc6c;
}

.btn.green:active{
  background-color: #00aa62;
}

.btn.yellow{
  background-color: #efc84a;
}

.btn.yellow:hover{
  background-color: #eab534;
}

.btn.yellow:active{
  background-color: #e5a722;
}

.presentations.btn{
  background-color: #efc84a
}

.applications{
  float: left;
  width: 300px;
  margin-right: 100px;
}

.presentations{
  float: right;
  width: 300px;
  margin-right: 60px;
}

.advantages{
  padding-top: 40px;
  padding-bottom: 45px;
  border-bottom: 2px solid #eeeeee;
}

.advantages-left{
  float: left;
  width: 700px;
  margin-top: 34px;
}

.advantages-left p{
  width: 630px;
}

.advantages-left h4{
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 25px;
}

.advantages-left ul{
  padding-left: 36px;
}

.advantages-left li{
  list-style: none;
  margin-bottom: 25px;
  position: relative;
}

.advantages-left li::before{
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  left: -36px;
  top: 10px;
}

.advantages-right{
  float: right;
  width: 360px;
}

.advantages-right img{
  width: 360px;
  height: 208px;
}

.advantages-right h4{
  text-transform: uppercase;
  font-weight: 700px;
  text-align: right;
  padding-right: 18px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.item span{
font-size: 45px;
font-weight: bold;
}

.item sup{
  font-size: 25px;
  top: -15px;
}

.item p{
  font-size: 16px;
  line-height: 18px;
  margin-top: 18px;
}

.item{
  display: inline-block;
  width: 100px;
  margin-right: 15px;
}

.logos-list{
border-bottom: 2px solid #eeeeee;
margin-bottom: 80px;
}

.logos-item img{
  vertical-align: bottom;
}

.logos-item{
  float: left;
  width: 280px;
  margin-right: 20px;
  opacity: .2;
}

.logos-item:nth-child(4n){
  width: 260px;
  margin-right: 0;
}

.logos-item:hover{
  opacity: 1;
}

.logos-item:active{
  opacity: .1;
}

.wrap{
  margin-bottom: 59px;
}

.contacts-wrap{
  position: relative;
  width: 1200px;
  margin: auto;
}

.contacts{
  position: absolute;
  width: 320px;
  background-color: #ffffff;
  top: -370px;
  padding-top: 52px;
  padding-bottom: 47px;
  padding-left: 50px;
  padding-right: 50px;
}

.contacts b{
  font-size: 18px;
  color: #000;
}

.contacts p{
  color: #666666;
  padding-top: 8px;
  font-size: 16px;
  line-height: 18px;
}

.tel{
  text-decoration: none;
  color: #666666;
  font-size: 16px;
  line-height: 18px;
}

.btn.contact{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 34px;
}

.footer-social{
  float: left;
  width: 380px;
  margin-right: 20px;
  margin-bottom: 70px;
}

.social-btn{
  display: inline-block;
  width: 78px;
  height: 78px;
  margin-right: 10px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0;
  vertical-align: top;
  background: #e1e1e1 url("..img/sprite.png") no-repeat center;
}

.social-btn-vk{
  background-position: -10px -128px;
}

.social-btn-fb{
  background-position: -10px -45px;
}

.social-btn-inst{
  background-position: -10px -87px;
}

.footer-features{
  float: right;
  width: 760px;
}

p.social-sale{
  color: #444444;
  font-size: 16px;
  line-height: 22px;
}

p.social-title{
  font-size: 36px;
  color: #000;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 18px;
}

.filter{
  float: left;
  width: 260px;
  outline: solid #cccccc;
  margin-right: 100px;
}

.filter-price{
  margin-bottom: 56px;
}

.grid-group{
  margin-bottom: 44px;
}

.features-group{
  margin-bottom: 50px;
}

.filter span{
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 17px;
}

.sort-group{
  float: left;
  outline: solid #cccccc;
  margin-bottom: 60px;
  margin-left: 40px;
}

.sort-element{
  float: right;
  margin-left: 270px;
}

.sort-element a{
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  margin-left: 30px;
}

.templates{
  outline: solid #cccccc;
}

.templates-item{
  float: left;
  margin-left: 40px;
  width: 360px;
  margin-bottom: 36px;
}

.main-container{
  float: right;
  width: 800px;
  outline: solid #cccccc;
}

.title{
  margin-bottom: 137px;
  text-align: center;
  padding: 20px;
}

.pagination{
  float: left;
  padding-top: 24px;
  padding-bottom: 60px;
}

.pagination a{
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.filter-price span{
  text-transform: uppercase;
}

.grid-group span{
  text-transform: uppercase;
}

.features-group span{
  text-transform: uppercase;
}

.templates-inner a{
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}
